.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h2 {
  text-align: center;
}

.button-div {
  text-align: center;
}

.button {
  borderRadius: '3px';
  border: 0;
  color: 'white';
  height: '48px';
  textTransform: 'uppercase';
  padding: '0 25px';
  boxShadow: '0 3px 5px 2px rgba(255, 105, 135, .30)';
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
